*{
	margin: 0;
	padding: 0;
}
.head{
	width: 1800px;
	height: 50px;
	margin: 0px auto;
}
.head .head_left ul{
	width: 600px;
	height: 50px;
	float: left;
	padding-left: 10px;
	box-sizing: border-box;
}
.head .head_left ul li{
	width: 80px;
	height: 50px;
	list-style: none;
	float: left;
	text-align: center;
	line-height: 50px;
	box-sizing: border-box;
	font-size: 12px;
}
.head .head_left ul li a{
	text-decoration:none;
	color: black; 
}
.head .head_left ul li a:hover{ 
	text-decoration:underline; 
}
.head .head_left ul li:first-child{
	width: 30px;
	height: 30px;
	background: url(../img/tubiao.png);
	margin-top: 10px;
}
.head .head_left ul li:nth-child(2){
	font-size: 20px;
	margin-right: 30px;
}
.head .head_right ul{
	width: 500px;
	height: 50px;
	float: right;
	padding-left: 10px;
	box-sizing: border-box;
}
.head .head_right ul li{
	width: 120px;
	height: 50px;
	list-style: none;
	float: left;
	text-align: center;
	line-height: 50px;
	box-sizing: border-box;
	font-size: 12px;
	
}
	  
  .head .head_right ul li img{
	  margin-bottom: -5px;
  }
}
.head .head_right ul li a{
	text-decoration: none;
	color: black;
	 
}
.head .head_right ul li a:hover{
	text-decoration: underline;
}
.body1{
	width: 1800px;
	height: 600px;
	margin: 0 auto;
	overflow: hidden;
	position: relative;
}
.baby{
	width: 9000px;
	height: 600px;
	list-style: none;
	position: absolute;
}
.baby li{
	width: 1800px;
	height: 600px;
	float: left;
	text-align: center;
	line-height: 600px;
}
.baby li:nth-child(1) {
	background:url(../img/tz2.png);
}
.baby li:nth-child(2) {
	background: url(../img/tz1.png);
}
.baby li:nth-child(3) {
	background:url(../img/tz2.png);
}
.baby li:nth-child(4) {
	background: url(../img/tz1.png);
}
.baby li:nth-child(5) {
	background: url(../img/tz1.png);
}
.radiu {
	width: 105px;
	height: 20px;
	list-style: none;
	position: absolute;
	bottom: 3px;
	left: 50%;
	margin-left: -50px;
}
.radiu li {
	float: left;
	width: 10px;
	height: 10px;
	margin-left: 5px;
	border-radius: 50%;
	background: white;
}
.body2{
	width: 1800px;
	height: 400px;
	margin: 0 auto;
	box-sizing: border-box;
}
.body2 .news{
	width: 400px;
	height: 200px;
	background: url(../img/01.png);
	box-sizing: border-box;
}
.body2 .news1{
	width: 400px;
	height: 200px;
	background: url(../img/02.png);
	box-sizing: border-box;
}
.body2 .news2{
	width: 400px;
	height: 200px;
	background: url(../img/03.png);
	box-sizing: border-box;
}
.body2 .news3{
	width: 400px;
	height: 200px;
	background: url(../img/04.png);
	box-sizing: border-box;
}
.body2 a{
	text-decoration: none;
	color: blue;
}
.body2 a:hover{
	text-decoration: underline;
}
.body2 #aa{
	text-decoration: none;
	color: black;
}
.body2 #aa:hover{
	text-decoration: none;
}
.one{
	width: 400px;
	height: 400px;
	float: left;
	padding-top: 40px;
	padding-right: 50px;
}
.two{
	width: 400px;
	height: 400px;
	float: left;
	padding-left:20px;
	padding-top: 40px;
	padding-right: 50px;
}
.three{
	width: 400px;
	height: 400px;
	float: left;
	padding-left:20px;
	padding-top: 40px;
	padding-right: 40px;
}
.four{
	width: 400px;
	height: 400px;
	float: left;
	padding-left:20px;
	padding-top: 40px;
}
.foot{
	width: 1800px;
	height: 440px;
	margin: 0 auto;
	box-sizing: border-box;
	background: lightgrey;
}
.foot a{
	text-decoration: none;
	color: black;
}
.foot a:hover{
	text-decoration: underline;
}
.foot .top{
	width: 1800px;
	height: 400px;
}
.foot .top li{
	list-style: none;
	height: 40px;
	line-height: 40px;
	font-size: 10px;
}
.add{
	width: 250px;
	height: 360px;
	
	float: left;
	padding-left: 70px;
 
}
.personal{
	width: 250px;
	height: 360px;
	float: left;
	padding-left: 40px;
	font-size: 40px;
}
.education{
	width: 250px;
	height: 360px;
	float: left;
	padding-left: 40px;
	
}
.enterprise{
	width: 250px;
	height: 360px;
	float: left;
	padding-left: 40px;
}
.developer{
	width: 250px;
	height: 360px;
	float: left;
	padding-left: 40px;
}
.company{
	width: 250px;
	height: 360px;
	float: left;
	padding-left: 40px;
}
.bottom{
	width: 1800px;
	height: 40px;
	 
}
.bottom .bottom_left{
	width: 120px;
	height: 40px;
	font-size: 10px;
	float: left;
	 
}
.bottom .bottom_left img{
	width: 20px;
	height: 20px;
	margin-top: 10px;
	margin-left: 10px;
	margin-bottom:-4px;
}
.bottom .bottom_right{
	width: 1200px;
	height: 40px;
	float: right;
	 
	 
}
.bottom .bottom_right ul li{
	height: 40px;
	line-height: 40px;
	float: left;
	list-style: none;
	font-size: 10px;
	box-sizing: border-box;
	padding-left: 15px;
	 
}

